@CHARSET "ISO-8859-1";

#queryHeader {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: thin font;
	font-size: 50px;
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-tabs {
	font-family: thin font;
	font-size: 20px;
}

@font-face {
	font-family: 'thin font';
	src: url('fonts/thin lines and curves.ttf');
}

.stretchSelect {
	width: 200%;
}

#modelSearchDiv {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#queryHeader2 {
	font-family: thin font;
	margin-left: 10%;
}

#tableDiv {
	float: left;
	width: 80%;
}

#modelHeader {
	font-family: 'thin font';
	margin-right: 25%;
	margin-bottom: 5%;
}

table#querysTable tr:hover {
	background-color: #white;
}

table#querysTable tr.even td {
    background-color: white;
}

table#querysTable tr.odd td {
    background-color: #e1eaea;
}

#backToHomeButton {
	font-family: thin font;
}

#buttonDiv{
	float: right;
	font-family: thin font;
}

#infoDiv {
	font-family: thin font;
}

.bigdrop {
    height: 600px !important;
}

#logoutBtn {
	margin-right: 5%;
	float: right;
}

#costanzaLogo {
	width: 10%;
	height: 5%;
}

#queryList {
	margin-top: 10%;
	margin-left: 2.5%;
	width: 10%;
	float: left;
}

#container {
	margin-left: 10%;
}

#customHeader {
	margin-left: 5%;
	font-family: thin font;
}

#costanzaLogoLogin{
	margin-left: 25%;
	height: 50%;
	width: 50%;
}

#importDatasetDiv {
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 5%;
}

#fileUploaderHead {
	font-family: thin font;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 22%;
	
}

#querysTable {
	margin-left: 10%;
}

#datetimepicker2 {
	margin-bottom: 100px;
}

#datetimediv{
	btn btn-default btn-file
}

.fiftyPercent {
	width: 10%;
}

.feckthis{
   position:absolute;
   width: 15%;
   height: 78%;
    margin-top: 4.5%;
   margin-left: 108%;
}

#searchParams{
	font-family: thin font;
	font-size: 20px;
	color: blue;
}

#timecodes {
	font-family: thin font;
	font-size: 20px;
}
